@keyframes pisca {
    0% {opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }

}

body {
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(238,174,213,1) 0%, rgba(148,225,233,1) 100%);
}

.urna {
    background-color: #a86f9c8f;
    padding: 25px;
    display: grid;
    border-radius: 4%;
}

.tela{
    margin: 3px;
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #8ebe8d);
    border: 3px solid #8ebe8d;
    display: flex ;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.teclado {
    margin-left: 29px ;
    margin: 10%;
    background-color: #403a3ad8;
    border-radius: 4%;
}

.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.teclado--botao {
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
    transition: 0.3s;
    border-radius: 15px;
}

.botao--branco {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    border-radius: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao--corrige{
    background-color: #f09046;
    color: #000;
    font-size: 12px;
    border-radius: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao--confirma {
    background-color: #48C079;
    color: #000;
    font-size: 12px;
    width: 90px;
    height: 50px;
    border-radius: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.d-1 {

    flex: 1;
    display: flex;
    
}

.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-1 {
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.d-1-3{
    height: 50px;
    transition: 0.3s;
}

.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px ;
    font-size: 25px;
}

.pisca{
    animation-name: pisca ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4{
    flex: 1;
    line-height: 30px;
}

.d-1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
   align-items: flex-end;
}

.d-1-image{
    border: 1px solid #000;
    background-color: #fff ;
    text-align: center;
    font-size: 14px;
}

.d-1-image img{
    width: 100%;
}

.d-1-image.small{
    width: 90%;
    font-size: 12px;
}
.d-2{
    height: 50px;
    font-size: 13px;
    border-top: 2px solid #000;
    padding-left: 10px;
    font-weight: bold;
}

.aviso--grande{
    font-size: 40px;
    font-weight: bold;
    
}

.aviso--gigante{
    font-size: 70px ;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teclado--botao:hover{
     background: #575656;
     box-shadow:0 5px 0 #363636;
     }
    
    .teclado--botao:active {
     box-shadow: 0 0 0 0 #fff, inset 4px 4px 4px  #353232;
     transform: translate(6px, 6px);
    }
    
    .botao--branco:hover{
     background:#808080;
     box-shadow:0 5px 0 rgb(70, 68, 68);
     }
    
    .botao--branco:active {
     box-shadow: 0 0 0 0 #fff, inset 4px 4px 4px  #808080;
     transform: translate(6px, 6px);
    }
    
    .botao--branco {
     box-shadow:0 5px 0 #808080;
     background-color: #fff;
     color: #000;
     font-size: 15px;
    }
    
    .botao--branco:hover{
     background:rgb(134, 126, 126);
     box-shadow:0 5px 0 rgb(70, 68, 68);
     }
    
    .botao--branco:active {
     box-shadow: 0 0 0 0 rgb(253, 249, 247), inset 4px 4px 4px #9c9c98;
     transform: translate(6px, 6px);
    }
    
    .botao--corrige{
     /* background:#006000; */
     box-shadow:0 5px 0 #813b05;
     background-color: #f09046;
     color: #000;
     font-size: 15px;
    }
    
    .botao--corrige:hover{
     background:#a76503;
     box-shadow:0 5px 0 #572804;
     }
    
    .botao--corrige:active {
     box-shadow: 0 0 0 0 #930,
     inset 4px 4px 4px #a76503;
     transform: translate(6px, 6px);
    }
    
.botao--confirma {
  
   box-shadow:0 5px 0 #006000;
     background-color: #48C079;
     color: #000;
     font-size: 15px;
     width: 90px;
     height: 50px;
    }
    
    .botao--confirma:hover{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
     }
    
     .botao--confirma:active {
     box-shadow: 0 0 0 0 #07f107,
     inset 4px 4px 4px #006000;
     transform: translate(6px, 6px);
    }

